@import url('https://fonts.cdnfonts.com/css/im-fell-dw-pica');

body{
    background-image:url(/bkgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: IM fell dw pica;
    font:  bold 70px 'IM fell dw pica',serif;
    color: azure;

    width: auto;
    height: auto;
}

#box{
    position: absolute;
    top: 50%;
    left:40%;
    transform: translate(0, -50%);    
}